{% extends 'base.html' %}

{% block content %}
    <h1>ABOUT</h1>
    <p>
        Welcome to our website dedicated to all things birds! Here you will find a wealth of information about different bird species, their habits and habitats, and tips for bird watching and bird photography. Whether you're a seasoned ornithologist or a beginner just starting to explore the world of birds, we have something for you. Our website features a wide range of articles, videos, and images that will help you to identify different bird species and learn more about their behavior and ecology. We also offer a variety of resources for bird enthusiasts, including guides to the best bird watching spots, information on bird conservation, and a forum where you can connect with other bird lovers. Thank you for visiting and we hope you enjoy exploring the world of birds with us!
    </p>
{% endblock content %}